button .rounded-full{
    width: 14.75rem;
    height: 0.15rem;
}

.carousel {
    height: 14rem;
}

@media (min-width: 640px) {
    .carousel {
        height: 16rem;
    }
}


@media (min-width: 1280px) {
    .carousel {
        height: 20rem;
    }
}

@media (min-width: 1536px) {
    .carousel{
        height: 24rem
    }
}